<div style="text-align: center">
	<h1>Welcome to todo!</h1>
	<img
		width="450"
		src="https://raw.githubusercontent.com/nrwl/nx/master/images/nx-logo.png"
		alt="Nx - Smart, Extensible Build Framework"
	/>
</div>
<div>Message: {{ hello$ | async | json }}</div>
<div>There are {{ todoCount$ | async }} todos saved!</div>
<ol>
	<li *ngFor="let todo of todos$ | async">
		<span>{{ todo.name }}</span>
		<span>{{ todo.content }}</span>
	</li>
</ol>
<button (click)="createTestTodo()">Crate Test Todo</button>
